<nav class="nav nav--icons">
  <ul>
    <li>
      <a href="/">
        <img class="footer_icon" src="<%=asset_path 'footer_home.png' %>" alt="홈으로 가기" />
      </a>
    </li>
   <!--  <li>
      <a href="/categories">
       <img class="footer_icon" src="<%=asset_path 'footer_cat.png' %>" alt="카테고리로 가기" />
      </a>
    </li>
    <li>
      <a href="/guides">
        <img class="footer_icon" src="<%=asset_path 'footer_gift.png' %>" alt="기프트 가이드로 가기" />
      </a>
    </li> -->
    <li>
      <a href="/posts/favorites">
        <img class="footer_icon" src="<%=asset_path 'footer_star.png' %>" alt="에디터's 픽으로 가기" />
      </a>
    </li>
  </ul>
</nav>

  
