<div class="layout">
  <div class="wrap">
    <div class="top_margin clearfix">
      <h1>New Post</h1>
      <%= render 'form', post: @post %>
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>