<%= render 'posts/visual_mobile' %>

<div class="layout">
  <div class="wrap">
    <div class="index_main">
     <div class="index_wrapper">
        <%= render 'posts/aside' %>

        <div class="mcb">
          <main class="main-ctn clearfix">
            <%= render 'posts/visual_pc' %>
            <%= render'posts/body_post' %>
          </main>
          
        </div>

      </div>
    </div>
    
  </div>
</div>

