<!-- <p id="notice"><%= notice %></p> -->
<div class="layout">
  <div class="wrap">

    <div class="top_margin clearfix">
      <%= render 'posts/show_page_ori' %>
    </div>

    
  </div><!-- wrap -->
</div><!-- layout -->
