<div class="header">
  <%= render 'shared/header' %>
</div>
<div class="layout">
  <div class="wrap">

    <div class="show_wrap clearfix">
      <%= render 'posts/show_body' %>
    </div>

    
  </div><!-- wrap -->
</div><!-- layout -->
<div class="footer_mobile">
  <%= render "shared/footer_mobile" %>
</div>
