@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}/* a태그로 감싼 이미지의 파란 테두리 삭제 (ie9-10) */
a{text-decoration:none;color:#3d3d3d;}
ul,li{list-style:none;}/* li앞에 동그라미 삭제 */
em,address{font-style:normal;}
fieldset{border:0;}/*테두리삭제*/
legend{display:none;}/* 숨김 */
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#3d3d3d;line-height:1.5;font-weight:300;/*background:#f2f2f2;*//*background:#f3f1e6;*/font-family:'Do Hyeon', sans-serif;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;overflow:hidden;position:relative;}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}


/* MOBILE ONLY */
@media screen and (max-width:640px){
  .header{display:none;}
}

/* header */
.navbar-container{border-bottom:1px solid #616161;height:60px;}
.container{margin:0 auto;padding:0 40px;/*max-width:90vw;*/max-width:1200px;}
.arrow{display:block;width:24px;height:24px;transform:rotate(-90deg);}
.box-left, .box-center, .box-right{display:flex;flex-wrap:wrap;align-items:center;margin-top:-20px;}
.box-right{margin-left:auto;}
.site-overlay{position:fixed;top:0;right:0;bottom:0;left:0;padding-bottom:40px;background:rgba(0, 0, 0, 0.9);width:100%;height:100%;transition:all 200ms linear;z-index:9000;opacity:0;visibility:hidden;}
.overlay-active .site-overlay{opacity:1;visibility:visible;}
.site-logo{display:block;font-family:"Poppins", sans-serif;font-size:1.5rem;font-weight:900;line-height:1;}
.overlay-active .site-logo{color:#fff;}
.site-header{position:fixed;top:0;width:100%;margin:0;background-color:#fff;z-index:5000;box-sizing:border-box;}
.overlay-active .site-header{color:#fff;background-color:transparent;z-index:9050;}
.site-navbar{position:relative;display:flex;height:80px;margin:0 -20px;}
.site-navbar .navbar-item{padding:0 20px;}
.navbar-nav{display:flex;margin:0;padding:0;list-style:none;flex-wrap:wrap;}
.navbar-nav li{position:relative;}
.navbar-nav li a{display:block;color:#08f;font-size:1rem;}
.navbar-nav li a:hover{color:#08f;}
.navbar-nav >li>a{margin:0;padding:0 12px;line-height:80px;color:#000;font-weight:700;text-transform:uppercase;letter-spacing:0.08em;}
.navbar-nav >li>a:hover{color:#08f;}
.navbar-nav >li.menu-item-has-children:hover>ul{opacity:1;top:auto;left:auto;animation:fade_in_up 300ms forwards;}
.navbar-nav .sub-menu{position:absolute;width:110px;min-width:max-content;padding:12px 20px 20px;background-color:#fff;opacity:0;left:-9999px;z-index:6000;}
.navbar-nav .sub-menu a{margin:0 -20px;padding:8px 20px 8px;}
.navbar-nav .sub-menu a:hover{color:#fff;background-color:#08f;}
.navbar-nav .sub-menu li.menu-item-has-children:hover > ul {opacity:1;top:-4px;left:calc(100% + 20px);animation:fade_in_up 300ms forwards;}
.navbar-nav >li.mobile-only{display:none;}
.navbar-nav >li.search form{margin-top:23px;}
.navbar-nav >li.search input{width:400px;padding:10px 20px;border-radius:15px;outline:none;}
.overlay-active .navbar-nav{display:none;}
.responsive-nav{display:block;float:right;position:relative;right:0;width:32px;height:24px;z-index:9010;visibility:visible;opacity:1;cursor:pointer;transition:opacity 200ms linear, visibility 200ms linear, color 100ms linear;}
.responsive-nav .line{display:block;position:absolute;top:50%;width:32px;height:2px;transition:300ms;background:currentColor;clip-path:inset(0 0 0 0);transition:all 377ms cubic-bezier(0.29, 0.09, 0.22, 0.98);transform-origin:50% 50%;}
.responsive-nav .line:nth-child(1){top:10%;}
.responsive-nav .line:nth-child(3){top:90%;}
.responsive-nav:focus .line:nth-child(1), .overlay-active .responsive-nav .line:nth-child(1){top:50%;transform:rotate3d(0, 0, 1, 45deg);}
.responsive-nav:focus .line:nth-child(2), .overlay-active .responsive-nav .line:nth-child(2){opacity:0;}
.responsive-nav:focus .line:nth-child(3), .overlay-active .responsive-nav .line:nth-child(3){top:50%;transform:rotate3d(0, 0, 1, -45deg);}
.overlay-active .responsive-nav{color: #fff;}


@media (max-width: 1240px) {
  .navbar-nav {display:none;}
  .responsive-nav{display:block;}
  .navbar-nav >li.mobile-only{display:block;}
  
}
#responsive-menu{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;}
.overlay-menu{list-style:none;position:absolute;bottom:0;z-index:99;display:flex;flex-flow:column;flex-direction:column;justify-content:flex-end;align-items:flex-end;max-width:none;width:95vw;margin:0;padding-bottom:calc(5% + 70px);text-align:right;transform:translateX(0);transition:all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);}
.overlay-menu a{position:relative;color:#fff;font-size:1.5rem;font-weight:300;line-height:1.5;text-decoration:none;}
.overlay-menu li{margin:0 40px;}
.overlay-menu button{position:relative;display:inline-block;border:none;padding:0;margin:0 -0.25em 2rem 0;color:#fff;font-family:"Poppins", sans-serif;font-size:0.875rem;font-weight:400;letter-spacing:0.25em;line-height:24px;text-decoration:none;text-transform:uppercase;background:transparent;opacity:0.25;cursor:pointer;transition:all 250ms ease-in-out;-webkit-appearance:none;-moz-appearance:none;}
.overlay-menu button::before{content:"\2190";display:inline-block;margin-right:1.25rem;font-size:1.25rem;transition:all 150ms ease;}
.overlay-menu button:hover{opacity:0.6;letter-spacing:0.5em;margin-right:-0.5em;}
.overlay-menu button:hover::before{margin-right:2rem;}
.overlay-menu.sub-menu{opacity:0;transform:translateX(30px);visibility:hidden;}
.overlay-menu.sub-menu.show{opacity:1;transform:translateX(0);visibility:visible;}
.overlay-menu.hidden{opacity:0;transform:translateX(-30px);visibility:hidden;}
.overlay-menu li.menu-item-has-children a{margin-right:-40px;padding-right:40px;}
.overlay-menu li.menu-item-has-children a::after{content:"\0203A";display:inline-block;width:40px;margin-right:-40px;font-size:24px;font-family:sans-serif;text-align:right;}

@keyframes fade_in_up {
  0% {opacity:0;transform:translateY(5%);}
  100% {opacity:1;transform:translateX(0%);}
}
@media screen and (max-width:640px){
  .container{padding-right:20px;}
  .site-navbar .nav_logo{padding-left:0;}
  .navbar-nav >li.search form{display:none;}

}
@media screen and (min-width:641px) and (max-width:1199px){
  .container{padding-right:40px;}
  .navbar-nav >li.search form{display:none;}
}


/* Index */
.index_comm .inner .pricing{margin:10px 0;}
.index_comm .inner .pricing span.is{font-size:30px;}
.index_comm .inner .pricing span.was{text-decoration:line-through;}

.top_margin, .visual{margin-top:80px;text-align:center;}
.visual{border:3px solid;border-radius:20px;padding:30px 0 40px 0;background:#ffc51a;color:#000;box-shadow:5px 5px 1px;margin-bottom:10px;}
.visual h2{font-size:50px;}
.visual p{font-size:25px;}
.visual .search_pc{width:50%;margin:0 auto;}
.visual input{width:89%;background:#fff;border:2px outset #000;border-radius:10px;padding:13px;padding-left:50px;font-size:1em;box-shadow:5px 5px 1px #000;}
.visual input:focus{outline:none;}
.visual .search_pc ul{text-align:left;margin:10px 0 0 10px;}
.visual .search_pc ul li{float:left;margin-right:15px;border-bottom:3px solid;}
.visual .search_pc ul li a{font-size:20px;color:#000;font-weight:700;}

.middle_margin{margin-top:20px;position:relative;}
.middle_margin ul{}
.middle_margin ul li{float:left;margin-right:50px;}
.middle_margin ul.second_menu li a{background:#ffff00;font-size:17px;}
.middle_margin ul.admin{position:absolute;right:0;}
.sd_category{margin-top:10px;}

.mid_wrapper{margin-top:30px;}
.mid_wrapper .index_box .index_card{float:left;width:22.5%;margin:1%;margin-bottom:200px;box-shadow:5px 5px 1px #ffc51a;border-radius:30px;border:3px solid;}
.mid_wrapper .index_box .index_image_box{position:relative;}
.mid_wrapper .index_box .index_card .index_image{padding:10px;height:300px;}
.mid_wrapper .index_box .index_card .index_image img{width:100%;height:300px;object-fit:cover;border-radius:30px;}
.mid_wrapper .index_box .index_card .contain img{object-fit:contain;width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}
.mid_wrapper .index_box .index_card .inner{padding:10px;}
.mid_wrapper .index_box .index_card .inner p{}
.mid_wrapper .index_box .index_card .inner .admin{}


/* Post Show */
.show_wrap{position:relative;height:650px;}
.show_wrap .mobile{display:none;}
.show_box{width:800px;margin:50px auto;box-shadow:0 0 20px 0 rgba(0,0,0,0.06);padding:20px;border-radius:15px;position:absolute;top:50%;left:50%;border:3px solid;transform:translate(-50%, -50%);}
.show_box .active_image{float:left;width:50%;position:relative;}
.show_box .active_image .active_image_box{height:350px;}
.show_box .active_image .active_image_box img{width:90%;height:90%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:cover;border-radius:15px;padding:10px;}
.show_box .active_image .contain img{width:80%;height:80%;object-fit:contain;padding:10px;}
.show_box .active_image .admin{}
.show_box .inner{float:left;width:50%;margin:40px 0 0 0;text-align:center;}
.show_box .inner .show_pricing{}
.show_box .inner .show_pricing span.is{font-size:30px;}
.show_box .inner .show_pricing span.was{text-decoration:line-through;}
.show_box .inner span.title{font-size:30px;display:block;margin:0 auto;}
.show_box .inner span.source{color:#616161;text-decoration:underline;font-weight:100;margin-top:-5px;display:block;}
.show_box .inner span.description{margin:10px 0;display:block;}
.show_box .btn{margin-top:30px;}
.show_box .btn a{background:#08f;font-size:25px;padding:10px 50px;border-radius:15px;color:#fff;border:3px solid #000;}
.show_box .sharing{margin-top:20px;}
.show_box .admin{position:absolute;top:10px;right:15px;}
 


@media screen and (max-width:640px){
  /* INDEX */
  .visual{padding:15px 0;}
  .visual h2{font-size:23px;}
  .visual p{font-size:20px;}
  .visual .search_pc{width:90%;margin:0 auto;}
  .visual input{width:80%;padding:10px 20px;}
  .visual .search_pc ul li a{font-size:13px;}


  .mid_wrapper .index_box .index_card{float:none;width:98.5%;margin:0 0 40px 0;}
  .mid_wrapper .index_box .index_card .inner{padding:20px;}
  .show_wrap .mobile{display:block;margin-top:80px;}
  .show_wrap .mobile .go_back{width:30px;position:absolute;top:-10px;left:0;opacity:0.5;z-index:999;}
  .show_wrap .mobile .admin{position:absolute;bottom:70px;right:15px;font-size:17px;}
  .show_box{width:98.5%;padding:0;height:auto;border:none;box-shadow:none;margin:-70px 0 0 0;}
  .show_box .active_image{float:none;width:100%;margin:0;}
  .show_box .active_image .active_image_box img{border-radius:25px;width:80%;height:80%;}
  .show_box .inner{float:none;width:100%;margin:0;padding:0;}
  .show_box .inner span.title{font-size:20px;}
  .show_box .inner .show_pricing{margin:10px 0;} 
  .show_box .btn{margin-bottom:20px;}
  .show_box .btn a{font-size:20px;}
  .show_box .admin{display:none;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .mid_wrapper .index_box .index_card{width:47%;}
  .show_box{width:94%;margin:20px auto;}
  .show_box .btn a{font-size:20px;}
}


/* Category page CSS */
.category_card{float:left;width:25%;height:300px;position:relative;}
.category_card .box{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.category_card .image{width:150px;height:150px;}
.category_card .image img{width:100%;height:100%;object-fit:contain;}
.category_card p{text-align:center;}

/* table */
#customers{border-collapse:collapse;width:100%;}
#customers td, #customers th{border:1px solid #ddd;padding:8px;}
#customers tr:nth-child(even){background-color:#f2f2f2;}
#customers tr:hover{background-color:#ddd;}
#customers th{padding-top:12px;padding-bottom:12px;text-align:left;background-color:#4CAF50;color:white;}



/* Footer Mobile */
.footer_mobile{display:none;}
.footer_mobile img.footer_icon{width:30px;}
.footer_mobile .wrapper{max-width: 320px;margin:2em auto;}
.footer_mobile .nav--icons{position:fixed;bottom:0;left:1em;right:1em;background:#fff;}
.footer_mobile .nav--icons ul{list-style-type:none;display:-webkit-box;display:flex;flex-wrap:nowrap;-webkit-box-pack:justify;justify-content: space-between;padding:0;margin:0;}
.footer_mobile .nav--icons ul li a{font-family:sans-serif;font-size:11px;letter-spacing:1px;text-decoration:none;color:#000;line-height:1;vertical-align:middle;display:-webkit-box;display:flex;-webkit-box-align:center;align-items: center;border-radius:3em;padding:0.75em 1.25em;-webkit-transition:0.6s ease-in-out;transition:0.6s ease-in-out;}

@media screen and (max-width:640px){
  .footer_mobile{display:block;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .footer_mobile{display:block;}
  .footer_mobile .nav--icons{position:fixed;bottom:0;left:1em;right:1em;background:#fff;}
}














