.guide_card{float:left;width:23%;margin:1%;border:1px solid #ccc;background:#f2f2f2;height:400px;}
.guide_card .image_card{height:200px;position:relative;}
.guide_card .image_card .image{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}