<div class="layout">
  <div class="wrap">
    <div class="top_margin clearfix">

      <br/>
      <p>All Categories</p>      
      <div class="category_wrap clearfix"> 
        <% Category.where(display_in_navbar: true).each do |cat| %>
          <div class="category_card">
            <div class="box">
              <div class="image">
                <a href="<%= cat.cat_link %>"><%= image_tag(cat.category_image) if cat.category_image.attached? %></a>
              </div>
              <p><%= link_to cat.name, posts_path(category: cat.name) %></p>
            </div>
          </div>
        <% end %>
      </div>
   
    </div>

  
    <%= render 'categories/added_cat' %>

        
  </div>
</div>
