<div class="layout">
  <div class="wrap">
    <div class="top_margin clearfix">
      <h1>New Guide</h1>
      <%= render 'form', guide: @guide %>
      <%= link_to 'Back', guides_path %>
    </div>
  </div>
</div>